body{
    background: black;
    color: white;
}
.bgtitle{
  position: absolute;
  margin-top: -1;
  background: none;
  z-index: -1;
}
.water{
  z-index: 1;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    pointer-events: none; 
    }